
// In _sec-link.scss
@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.action-link
{
background-color: #115d66;
color: clrs.color-link("1");
font-size: type.font-size-st(sc);
padding: pad.padding-st-v(s)  pad.padding-st-h(s);
}
