*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  justify-content: center;
}

.page-width {
  grid-column: container-start/container-end;
}

.padd {
  padding: calc(1rem + 6vh) calc(1rem + 2vw);
}

.sec-flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sec-link {
  color: hsl(126, 30%, 58%);
  background-color: hsl(216, 33%, 97%);
  border: 1px solid hsl(126, 30%, 58%);
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
.sec-link:hover {
  background-color: hsl(126, 30%, 58%);
  color: hsl(0, 0%, 100%);
}

.sec-para {
  font-size: 1.5rem;
  color: hsl(238, 50%, 13%);
  text-align: start;
  margin-bottom: 2rem;
}

.sec-title {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: start;
}

.sec-title-h {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: center;
}

.sec-sub-para {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(16.575, 17.68, 49.725, 0.4);
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.responsive-grid-b {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
}

.sec-mini-title {
  font-size: 1.5rem;
  color: hsl(126, 30%, 58%);
  position: relative;
  display: inline-block;
}
.sec-mini-title::before, .sec-mini-title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.2rem;
  width: 2rem;
  transform: translateY(-50%);
  background-color: hsl(126, 30%, 58%);
}
.sec-mini-title::before {
  left: -60%;
}
.sec-mini-title::after {
  right: -60%;
}

.sec-sub-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(220, 48%, 27%);
  transition: all 0.25s ease-in-out;
  text-align: start;
}

.sec-flex-h {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cta {
  color: hsl(0, 0%, 100%);
  background-color: hsl(126, 30%, 58%);
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
.cta:hover {
  background-color: hsl(206, 91%, 82%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.43rem;
}
.header a img {
  width: 20%;
  border-radius: 50%;
}
.header .main-nav-list {
  display: flex;
  gap: 2rem;
}
.header .main-nav-list li a {
  font-size: large;
  font-weight: 600;
}
.header .main-nav-list li a:hover {
  color: hsl(219, 49%, 47%);
}
.header .btn-mobile-nav {
  display: none;
}

.hero {
  display: flex;
  gap: 1rem;
}
.hero__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__content h1 {
  font-size: calc(3rem + 3.5vw);
  line-height: 1.2;
}
.hero__content span {
  color: hsl(219, 49%, 47%);
}
.hero__content h3 {
  font-size: 2rem;
}
.hero__image {
  flex-basis: 50%;
}
.hero__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__btns {
  display: flex;
  gap: 2rem;
}

.member {
  display: flex;
  gap: 2rem;
  justify-content: center;
  overflow-x: hidden;
}
.member__name {
  font-size: 2rem;
  text-align: center;
  color: hsl(0, 0%, 45%);
}
.member__post {
  font-size: 2rem;
  text-align: center;
  color: hsl(0, 0%, 45%);
}
.member__card {
  width: 28rem;
  border-radius: 5px;
  padding: 2rem;
  background-color: hsl(220, 48%, 27%);
}
.member__card h2 {
  color: hsl(0, 0%, 100%);
}
.member__card figure {
  justify-self: center;
}
.member__card figure img {
  width: 10rem;
  border-radius: 50%;
  border: 4px solid hsl(39, 100%, 50%);
}
.member__right-chevron, .member__left-chevron {
  font-size: calc(1rem + 2vw);
  align-self: center;
}
.member__right-chevron i, .member__left-chevron i {
  color: hsl(219, 49%, 47%);
}

.notice {
  background-color: hsl(219, 49%, 47%);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  line-height: 1.1;
}
.notice span {
  font-size: 2rem;
}
.notice marquee a {
  font-size: 1.5rem;
  color: hsl(180, 50%, 91%);
}

.principle {
  display: flex;
}
.principle figure {
  width: 40%;
  align-self: center;
  text-align: center;
}
.principle figure img {
  width: 15rem;
  height: 18rem;
  border: 4px solid hsl(0, 0%, 45%);
  border-radius: 50%;
}
.principle__card {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about {
  display: flex;
  gap: 4rem;
  background-color: hsl(180, 50%, 91%);
}
.about__content {
  width: 50%;
}
.about__image {
  width: 50%;
}
.about__image img {
  border-radius: 5px;
}

.acadamics h2 {
  color: hsl(219, 49%, 47%);
}
.acadamics__header {
  font-size: calc(1rem + 2vw);
  color: hsl(220, 48%, 27%);
  font-weight: 900;
  padding: calc(1rem + 6vh);
  text-align: center;
}
.acadamics__title {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.acadamics__title p {
  line-height: 1.9;
  color: hsl(219, 49%, 47%);
}
.acadamics__title h2 {
  color: hsl(0, 0%, 45%);
}
.acadamics__title .cta {
  align-self: start;
}
.acadamics__content {
  display: flex;
  gap: 2rem;
}
.acadamics .acadamics__socials {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
}
.acadamics .acadamics__socials div i {
  font-size: 3rem;
  color: hsl(206, 91%, 82%);
}
.acadamics .acadamics__socials div p {
  font-size: 2rem;
}

.gallery {
  background-color: hsl(180, 50%, 91%);
}
.gallery h2 {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: center;
}
.gallery__content {
  flex-basis: 30%;
  display: flex;
  gap: 1rem;
}
.gallery__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: calc(1rem + 1vh) 2.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 2px solid transparent;
}
.gallery__card:hover {
  border: 2px solid hsl(126, 30%, 58%);
  transition: all 0.99s ease-in-out;
}
.gallery__card figure img {
  border-radius: 8px;
}
.gallery__card p {
  font-weight: 600;
}
.gallery__card button {
  align-self: start;
  border: none;
  border: 2px solid hsl(126, 30%, 58%);
  padding: calc(1rem + 1vh);
  border-radius: 50%;
}
.gallery__card button:hover {
  background-color: hsl(126, 30%, 58%);
}
.gallery__card button i {
  font-size: 2rem;
  transform: rotate(50deg);
}
.gallery__event {
  font-size: 1.5rem;
  align-self: flex-start;
  color: hsl(219, 49%, 47%);
  padding-inline: 1.5rem;
  background-color: hsl(126, 30%, 58%);
  border-radius: 25%;
}

.resents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.resents__box {
  display: flex;
  gap: 1rem;
}
.resents__card {
  flex-basis: 50%;
  display: flex;
  gap: 2rem;
}
.resents__card figure {
  width: 50%;
}
.resents__card figure img {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
}
.resents__days {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resents .sec-link {
  align-self: start;
}

.teachers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.teachers__head {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(126, 30%, 58%);
  text-align: center;
}
.teachers__cards {
  display: flex;
  gap: 2rem;
}
.teachers__card {
  width: 30rem;
  height: 30rem;
  text-align: center;
  border: 1px solid hsl(180, 50%, 91%);
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: rem;
}
.teachers__card figure img {
  width: 15rem;
  height: 15rem;
  border: 4px solid hsl(219, 49%, 47%);
  border-radius: 50%;
}
.teachers__name {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: center;
}
.teachers__subject {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(220, 48%, 27%);
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.upcoming-box {
  max-width: 11rem;
  background-color: aqua;
}
.upcoming__title {
  text-align: center;
}
.upcoming__icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: large;
  color: hsl(126, 30%, 58%);
}
.upcoming__icons i {
  width: 3rem;
  height: 3rem;
  background-color: hsl(126, 30%, 58%);
  color: hsl(216, 33%, 97%);
  border-radius: 50%;
}
.upcoming .upcoming-box__table {
  max-width: 11rem;
  margin: 0 auto;
  background-color: aqua;
}
.upcoming .upcoming-box__header {
  padding: 1.5rem;
  border: 1px soild red;
}
.upcoming .upcoming-box__header th {
  font-size: calc(1rem + 2vw);
}

/* Parents begin */
.parents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.parents__head {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: center;
}
.parents__cards {
  flex-basis: 50%;
  display: flex;
  gap: 2rem;
}
.parents__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.parents__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(206, 91%, 82%);
  border-radius: 5px;
}
.parents__icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.parents__icons i {
  color: hsl(219, 49%, 47%);
}
.parents__girl {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.parents__girl figure {
  width: 15%;
}
.parents__girl figure img {
  border-radius: 50%;
}
.parents__quote {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.parents__quote i {
  font-size: calc(2rem + 3vw);
}

.form {
  background-color: #d6efea;
  margin: 0 auto;
  place-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
}
.form__title {
  text-align: center;
  font-size: calc(1rem + 2vw);
}
.form__contact {
  place-content: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
}
.form__contact fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__contact textarea {
  border: 1px solid hsl(0, 0%, 45%);
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  text-align: start;
  border-radius: 30px;
}
.form__div {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}
.form__div fieldset {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__div fieldset label {
  text-align: start;
  font-size: calc(1rem + 1vw);
}
.form__div fieldset input {
  border: 1px solid hsl(0, 0%, 45%);
  padding: 1.5rem;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
}
.form form fieldset label {
  font-size: 2rem;
}

.footer {
  background-color: #fcd8ff;
}
.footer__head {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.footer__card {
  width: 35rem;
  padding: 2.5rem;
}
.footer__card div {
  display: flex;
  gap: 1rem;
}
.footer__card div i {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}
.footer__end {
  width: 35rem;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
}

.admission {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.adm-fee {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.adm-fee table {
  width: 80rem;
  margin: 0 auto;
  border-collapse: collapse;
}
.adm-fee table thead {
  background-color: #d9f4ff;
}
.adm-fee table thead tr th {
  text-align: start;
  border: 1px solid hsl(0, 0%, 45%);
  font-size: 2rem;
  padding: 1rem;
}
.adm-fee table tbody tr td {
  border: 1px solid hsl(0, 0%, 45%);
  padding: 1rem;
  font-size: 2rem;
}

.tuition table {
  width: 40rem;
  margin: 0 auto;
  border-collapse: collapse;
}
.tuition table thead tr th {
  text-align: start;
  border: 1px solid hsl(0, 0%, 45%);
  font-size: 2rem;
  padding: 1rem;
}
.tuition table tbody tr td {
  border: 1px solid hsl(0, 0%, 45%);
  font-size: 2rem;
  padding: 1rem;
}/*# sourceMappingURL=main-style.css.map */