@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


// -----------------------------------Header
@media screen and (max-width: 700px) {

  .admin-nav {
    display: none;

  }
  .admin-nav {
    display: none;
  
  }







  .admin-nav__phone {
    display: block;
    display: flex;
    

  }

  .data {
    display: none;
  }

    .main {
    display: grid;
   grid-column: 3 / 13;
    grid-row: 3 / 12;
   display: flex;
   flex-direction: column;
   gap: 2rem;
  }


}

