@use "sass:map";

:root {
  --color-white: hsl(0 0% 100%);
  --color-navy-dark: #111232;
  --color-green-light: hsl(126 30% 58%);
  --color-green-medium: hsl(126 30% 45%);
  --color-green-tint: #e3f0e4;
  --color-mint-green : rgb(189, 226.5, 192.5);
  --color-blue-dark: hsl(219, 49%, 47%);
  --color-blue-bright: hsl(220 100% 67%);
  --color-light-greyish-blue: hsl(210, 14%, 89%);
  --color-cyan-light: hsl(180 50% 91%);
  --color-cyan-lightest: #f7fbfb;

  // social colors
  --color-fb: #1877f2;
  --color-twitter: #1d9bf0;
  --color-ig: #e4405f;
  --color-yt: #ff0000;

  /* Gradient Variables */
  --gradient-cyan: linear-gradient( #f7fbfb , #d8f2f2);
}

// Sass map with gradients
$colors-theme: (
  "white": var(--color-white),
  "navy-dark": var(--color-navy-dark),
  "green-light": var(--color-green-light),
  "green-medium": var(--color-green-medium),
  "blue-dark": var(--color-blue-dark),
  "blue-bright": var(--color-blue-bright),
  "cyan-light": var(--color-cyan-light),
);

$gradients-theme: (
  "cyan": var(--gradient-cyan),
);