@use "sass:map";

//Sass Color Variables (part-vi)
// $color-theme   [is colors Object here, like a group of colors]

$colors-theme: (
  "1" : hsl(216 33% 97%),
  "2" :hsl(126 30% 58%),
  "3" : hsl(219 49% 47%),
  "4" : hsl(39 100% 50%),
  "5" :  hsl(180 50% 91%),
  "6" :  hsl(206 91% 82%),
);

@function color-theme($clr-theme) {
  @return map.get($colors-theme, $clr-theme);
}
// color-theme [is function name]  &  $clr-theme [is function argument]
// @function>>   color-theme($color-theme-1) this argument would not be reusable

//Write 1 function and use it millions times.

$colors-type: (
  "1" : hsl(0 0% 100%),
  "2" : hsl(238 50% 13%),
  "3" : hsl(126 30% 58%),
  "4" : hsl(220 48% 27%),
  "5" : hsl(0 0% 45%),
  "6" : hsl(180 50% 91%),
);


@function color-type($clr-type) {
  @return map.get($colors-type, $clr-type);
} 

$color-links: (
  "1" : hsl(0 0% 100%),
  "2" :hsl(126 30% 58%),
  "3" :hsl(126 8% 65%),
  "4" : hsl(253 82% 42%),
  "5" : hsl(238 50% 13%),
);
@function color-link($clr-link) {
  @return map.get($color-links, $clr-link);
} 

$colors-social: (
  "facebook" :hsl(221 44% 42%),
  "twitter" :hsl(206 82% 63%),
  "linkedin" :hsl(201 100% 35%),
  "instagram" :hsl(329 100% 50%),
);


@function color-social($clr-social) {
  @return map.get($colors-social, $clr-social);
}

// This BELOW codes were for testing purpose
// h1 {
//   color: color-type(color-type-4);
// }

// a {
//   color: color-link(color-link-3);
// }
// body {
//   background-color: color-theme(color-theme-1);
// }

