
// In _sec-link.scss
@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


// .sec-link {
// color: clrs.color-link("2");
// background-color: clrs.color-theme("1");
// border: 1px solid clrs.color-link("2");
// font-size: type.font-size-st(sc);
// padding: pad.padding-st-v(s)  pad.padding-st-h(l);

// &:hover {
//   background-color: clrs.color-theme("2");
//   color: clrs.color-link("1");
// }
// }
.sec-link {
  color: var(--color-green-light);
  background-color: var(--color-white);
  border: 1px solid var(--color-green-light);
  font-size: type.font-size-st(sc);
  padding: pad.padding-st-v(s)  pad.padding-st-h(l);

  &:hover {
    background-color: var(--color-green-medium);
    color: var(--color-white);
  }
}
