
// In _sec-para.scss
@use "../general-styles/colors" as clrs;
@use "../general-styles/typography" as type;

.sec-para {
  font-size: type.font-size-st(sc);
  color: var(--color-navy-dark);
  text-align: start;
  margin-bottom: 2rem;

  // span {
  //   display: block;
  // }
}

