@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.gallery-list {
  background: var(--gradient-cyan);
  width: 100%;
  max-width: 100%;

  &__category {
    margin-bottom: 3rem;
  }

  &__heading {
    font-size: type.font-size-st(sc);
    color: var(--color-navy-dark);
    margin-bottom: 1.2rem;
    border-left: 6px solid var(--color-blue-dark);
    padding-left: 1rem;
  }


  &__card {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
    }
  }

  &__image {
    width: 100%;
    height: 170px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__title {
    padding: 1rem 1.4rem;
    font-size: type.font-size-st(s);
    font-weight: 600;
    color: var(--color-navy-dark);
    border-top: 1px solid var(--color-light-greyish-blue);
  }
}
