.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem))[container-end];
  justify-content: center;
  grid-template-rows: auto; // First row (header) auto-sizes
  grid-auto-rows: min-content; // Subsequent rows fit content
}
.page-width {
  grid-column: container-start/container-end;
}