.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem))[container-end];
  grid-template-rows: repeat(2, 9.5rem);

  justify-content: center;
  background-color: #f1f1f1;
}
.page-width {
  grid-column: container-start/container-end;
}


