@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

:root {
  --color-white: hsl(0 0% 100%);
  --color-navy-dark: #111232;
  --color-green-light: hsl(126 30% 58%);
  --color-green-medium: hsl(126 30% 45%);
  --color-blue-dark: hsl(219, 49%, 47%);
  --color-blue-bright: hsl(220 100% 67%);
  --color-cyan-light: hsl(180 50% 91%);
  /* Gradient Variables */
  --gradient-cyan: linear-gradient(#d8f2f2, #f7fbfb);
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  justify-content: center;
}

.page-width {
  grid-column: container-start/container-end;
}

.padd {
  padding: calc(1rem + 6vh) calc(1rem + 2vw);
}

.sec-link {
  color: var(--color-green-light);
  background-color: var(--color-white);
  border: 1px solid var(--color-green-light);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
.sec-link:hover {
  background-color: var(--color-green-medium);
  color: var(--color-white);
}

.sec-para {
  font-size: 1.8rem;
  color: var(--color-navy-dark);
  text-align: start;
  margin-bottom: 2rem;
}

.sec-title {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: var(--color-blue-dark);
  text-align: start;
}

.sec-sub-para {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-navy-dark);
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.responsive-grid-b {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
}

.sec-mini-title {
  font-size: 1.8rem;
  color: var(--color-blue-dark);
  position: relative;
  display: inline-block;
}
.sec-mini-title::before, .sec-mini-title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.2rem;
  width: 2rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
}
.sec-mini-title::before {
  left: -60%;
}
.sec-mini-title::after {
  right: -60%;
}

.sec-sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-navy-dark);
  transition: all 0.25s ease-in-out;
  text-align: start;
}

.cta {
  color: var(--color-white);
  background-color: var(--color-green-light);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border: 1px solid var(--color-green-light);
}
.cta:hover {
  background-color: var(--color-green-medium);
  color: var(--color-white);
}

.header {
  background-color: var(--color-white);
  padding: calc(1rem + 1vh) calc(1rem + 6vw);
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__logo-link {
  width: 20rem;
}
.header__logo {
  height: 30%;
  width: 30%;
}
.header__nav {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  z-index: 9999;
}
.header__nav-link {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-blue-dark);
}

.notice-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}
.notice-bar__title {
  position: absolute;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  z-index: 200;
}
.notice-bar__list {
  display: flex;
  list-style: none;
  margin: 0;
  animation: notice-scroll 20s linear infinite;
}
.notice-bar__notice {
  white-space: nowrap;
  padding: 1rem 2.4rem;
  font-size: 1.5rem;
  position: relative;
}
.notice-bar__notice::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}
.notice-bar__notice:last-child::after {
  display: none;
}
.notice-bar__time {
  color: #949393;
}

@keyframes notice-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-1528px);
  }
}
.hero {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero__content {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__title {
  font-size: calc(2rem + 3vw);
}
.hero__title span {
  color: var(--color-blue-bright);
}
.hero__subtitle {
  font-size: calc(1rem + 2vw);
  font-weight: 300;
  font-style: italic;
}
.hero__subtitle span {
  color: var(--color-blue-bright);
}
.hero__para {
  font-size: 1.8rem;
}
.hero__btns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 22rem));
  gap: 2rem;
}
.hero__btns a {
  text-align: center;
}
.hero__image-container {
  flex-basis: 45%;
  position: relative;
}
.hero__image-container::before, .hero__image-container::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.hero__image-container::before {
  top: -7%;
  right: 0%;
  width: 50%;
  height: 50%;
  background-color: var(--color-cyan-light);
}
.hero__image-container::after {
  bottom: -7%;
  left: 0%;
  width: 50%;
  height: 50%;
  background-color: var(--color-cyan-light);
}

@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .hero__content {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .header__logo-link {
    top: 2.8rem;
    left: 2.5rem;
  }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(1rem + 4vh) calc(1rem + 6vw);
    transition: all 0.35s ease-in-out;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100rem);
    z-index: 9998;
  }
  .hamburger {
    height: 5rem;
    width: 9rem;
    background-color: var(--color-white);
    padding: 2rem;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    z-index: 9999;
  }
  .hamburger__line {
    display: block;
    min-height: 3px;
    background-color: var(--color-blue-dark);
    transition: all 0.3s ease;
    z-index: 11;
  }
  .hamburger__line:nth-child(1) {
    width: 50%;
    transition: all 0.25s ease;
  }
  .hamburger__line:nth-child(2) {
    transition: all 0.1s ease;
  }
  .hamburger__line:nth-child(3) {
    width: 50%;
    transition: all 0.25s ease;
    align-self: flex-end;
  }
  .display__nav {
    transform: translateX(0);
  }
  .hamburger__line-1 {
    transform: rotate(45deg) translateX(1.5rem) translateY(-0.2rem);
  }
  .hamburger__line-2 {
    visibility: hidden;
  }
  .hamburger__line-3 {
    transform: rotate(-45deg) translateX(0.2rem) translateY(-2.1rem);
  }
}/*# sourceMappingURL=main-style.css.map */