*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  justify-content: center;
}

.page-width {
  grid-column: container-start/container-end;
}

.padd {
  padding: calc(1rem + 6vh) calc(1rem + 2vw);
}

.sec-link {
  color: hsl(238, 50%, 13%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(238, 50%, 13%);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
.sec-link:hover {
  background-color: hsl(238, 50%, 13%);
  color: hsl(0, 0%, 100%);
}

.sec-para {
  font-size: 1.8rem;
  color: hsl(238, 50%, 13%);
  text-align: start;
  margin-bottom: 2rem;
}

.sec-title {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: start;
}

.sec-title-h {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: hsl(220, 48%, 27%);
  text-align: center;
}

.sec-sub-para {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgba(16.575, 17.68, 49.725, 0.4);
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.responsive-grid-b {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
}

.sec-mini-title {
  font-size: 1.8rem;
  color: hsl(126, 30%, 58%);
  position: relative;
  display: inline-block;
}
.sec-mini-title::before, .sec-mini-title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.2rem;
  width: 2rem;
  transform: translateY(-50%);
  background-color: hsl(238, 50%, 13%);
}
.sec-mini-title::before {
  left: -60%;
}
.sec-mini-title::after {
  right: -60%;
}

.sec-sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(220, 48%, 27%);
  transition: all 0.25s ease-in-out;
  text-align: start;
}

.cta {
  color: hsl(0, 0%, 100%);
  background-color: hsl(126, 30%, 58%);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
.cta:hover {
  background-color: hsl(126, 30%, 45%);
  color: hsl(0, 0%, 100%);
}

.header {
  background-color: hsl(0, 0%, 100%);
  padding: calc(1rem + 1vh) calc(1rem + 6vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__logo-link {
  width: 20rem;
}
.header__logo {
  height: 30%;
  width: 30%;
}
.header__nav {
  display: flex;
  gap: 3rem;
}
.header__nav-link {
  font-size: 1.5rem;
  font-weight: 700;
}

.hamburger {
  display: none;
}/*# sourceMappingURL=main-style.css.map */