@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

:root {
  --color-white: hsl(0 0% 100%);
  --color-navy-dark: #111232;
  --color-green-light: hsl(126 30% 58%);
  --color-green-medium: hsl(126 30% 45%);
  --color-blue-dark: hsl(219, 49%, 47%);
  --color-blue-bright: hsl(220 100% 67%);
  --color-cyan-light: hsl(180 50% 91%);
  /* Gradient Variables */
  --gradient-cyan: linear-gradient(#d8f2f2, #f7fbfb);
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  justify-content: center;
}

.page-width {
  grid-column: container-start/container-end;
}

.padd {
  padding: calc(1rem + 6vh) calc(1rem + 2vw);
}

.sec-link {
  color: var(--color-green-light);
  background-color: var(--color-white);
  border: 1px solid var(--color-green-light);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
.sec-link:hover {
  background-color: var(--color-green-medium);
  color: var(--color-white);
}

.sec-para {
  font-size: 1.8rem;
  color: var(--color-navy-dark);
  text-align: start;
  margin-bottom: 2rem;
}

.sec-title {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  color: var(--color-blue-dark);
  text-align: center;
}

.sec-sub-para {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-navy-dark);
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.sec-mini-title {
  font-size: 1.8rem;
  color: var(--color-blue-dark);
  position: relative;
  display: inline-block;
}
.sec-mini-title::before, .sec-mini-title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.2rem;
  width: 2rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
}
.sec-mini-title::before {
  left: -60%;
}
.sec-mini-title::after {
  right: -60%;
}

.sec-sub-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-navy-dark);
  transition: all 0.25s ease-in-out;
  text-align: start;
}

.cta {
  color: var(--color-white);
  background-color: var(--color-green-light);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border: 1px solid var(--color-green-light);
}
.cta:hover {
  background-color: var(--color-green-medium);
  color: var(--color-white);
}

.sec-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  background-color: var(--color-white);
  padding: calc(1rem + 1vh) calc(1rem + 6vw);
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__logo-link {
  width: 20rem;
}
.header__logo {
  height: 30%;
  width: 30%;
}
.header__nav {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  z-index: 9999;
}
.header__nav-link {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-blue-dark);
}

.notice-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}
.notice-bar__title {
  position: absolute;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  z-index: 200;
}
.notice-bar__list {
  display: flex;
  list-style: none;
  margin: 0;
  animation: notice-scroll 20s linear infinite;
}
.notice-bar__notice {
  white-space: nowrap;
  padding: 1rem 2.4rem;
  font-size: 1.5rem;
  position: relative;
}
.notice-bar__notice::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}
.notice-bar__notice:last-child::after {
  display: none;
}
.notice-bar__time {
  color: #949393;
}

@keyframes notice-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-1528px);
  }
}
.hero {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero__content {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__title {
  font-size: calc(2rem + 3vw);
}
.hero__title span {
  color: var(--color-blue-bright);
}
.hero__subtitle {
  font-size: calc(1rem + 2vw);
  font-weight: 300;
  font-style: italic;
}
.hero__subtitle span {
  color: var(--color-blue-bright);
}
.hero__para {
  font-size: 1.8rem;
}
.hero__btns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 22rem));
  gap: 2rem;
}
.hero__btns a {
  text-align: center;
}
.hero__image-container {
  flex-basis: 45%;
  position: relative;
}
.hero__image-container::before, .hero__image-container::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.hero__image-container::before {
  top: -7%;
  right: 0%;
  width: 50%;
  height: 50%;
  background-color: var(--color-cyan-light);
}
.hero__image-container::after {
  bottom: -7%;
  left: 0%;
  width: 50%;
  height: 50%;
  background-color: var(--color-cyan-light);
}

.leadership__title {
  padding-bottom: calc(1rem + 6vh);
}
.leadership__card-body {
  display: flex;
  justify-content: center;
}
.leadership .slider-wrapper {
  overflow: hidden;
  /* based on your screen size */
  max-width: 1200px;
  margin: 0 70px 55px;
}
.leadership .slider-wrapper .swiper-pagination-bullet {
  background: var(--color-blue-dark);
  height: 15px;
  width: 15px;
}
.leadership .slider-wrapper .swiper-slide-button {
  color: var(--color-green-light);
  margin-top: -50px;
  transition: 0.2s ease;
}
.leadership .slider-wrapper .swiper-slide-button:hover {
  color: var(--color-green-medium);
}
.leadership__card {
  height: 300px !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(to right, aliceblue, rgb(88, 87, 87), var(--color-blue-dark));
  border-radius: 20px;
  justify-content: center;
  align-items: end;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
  transition: all 0.2s ease-in-out;
}
.leadership__card-top {
  height: 65%;
  width: 100%;
  background-color: aliceblue;
  border-radius: 20px 20px 40px 0px;
  display: flex;
}
.leadership__circle {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadership .circle {
  height: 100px;
  width: 100px;
  border: 2px solid var(--color-blue-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadership .circle img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.leadership__card-info {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leadership__name {
  font-size: 1.8rem;
  align-self: flex-start;
}
.leadership__position {
  font-size: 1.5rem;
  align-self: flex-start;
}
.leadership__quotes {
  height: 35%;
  width: 100%;
  background-color: var(--color-blue-dark);
  color: white;
  border-radius: 40px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leadership__quotes p {
  font-size: 1.5rem;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.principal__photo {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}
.principal__photo img {
  border: 2px solid var(--color-blue-dark);
  width: 40%;
  height: 40%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
.principal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 60%;
}
.principal__content-title {
  text-align: start;
}
.principal__content-name-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
}
.principal__content-name {
  font-size: 2rem;
}

.about {
  display: flex;
  gap: 2rem;
  background: var(--gradient-cyan);
}
.about__content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__content h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-navy-dark);
  text-align: start;
}
.about__content h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-blue-dark);
}
.about__content .cta {
  align-self: start;
}
.about__content-link {
  color: var(--color-navy-dark);
  font-size: 2rem;
  font-weight: 500;
}
.about__group-photo {
  width: 50%;
  height: 50%;
  display: flex;
  align-self: center;
}
.about__group-photo img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.academics__cards {
  display: flex;
  gap: 2rem;
}
.academics__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
.academics__card-title {
  font-weight: 800;
  font-size: calc(1rem + 1.5vw);
}
.academics__card-para {
  color: var(--color-blue-dark);
}
.academics__card-icons {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.academics__card-icons li {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}
.academics__card-icons li a {
  font-size: calc(1rem + 2vw);
  color: var(--color-navy-dark);
  text-decoration: none;
}
.academics__card-icons li a i {
  color: var(--color-green-medium);
}
.academics__card .btn {
  align-self: flex-start;
}

.gallery {
  background: var(--gradient-cyan);
}
.gallery__card {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2rem;
  padding: 1.5rem calc(1rem + 4vh);
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid transparent;
}
.gallery__card:hover, .gallery__card__card:hover {
  transition: all 0.43s ease-in-out;
  border: 3px solid var(--color-blue-dark);
}
.gallery__card figure {
  width: 100%;
  height: 100%;
}
.gallery__card figure img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.gallery__card-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.gallery__card-info h3 {
  padding: 2px 8px;
  background-color: var(--color-green-light);
  align-self: start;
  color: rebeccapurple;
  border-radius: 6px;
  font-size: 1.5rem;
}
.gallery__card-info a {
  padding: 1rem;
  border: 2px solid var(--color-navy-dark);
  align-self: start;
  border-radius: 100%;
  transform: rotate(50deg);
  transition: all 0.53s ease-in-out;
  font-size: 1.5rem;
}
.gallery__card-info a:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}

.news__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}
.news__card {
  display: flex;
  width: 48%;
  gap: 2rem;
  align-items: center;
  padding: 3rem;
}
.news__card > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.news__card > div h2 {
  font-size: 1.8rem;
  font-weight: 900;
}
.news__card > div a {
  align-self: start;
}
.news__card-figure {
  width: 25rem;
  height: 20rem;
}
.news__card-figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 6px;
}

.teachers .teachers__profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.teachers .teachers__profile-info > div {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  align-items: center;
}
.teachers .teachers__profile-info figure {
  width: 57%;
  height: 55%;
}
.teachers .teachers__profile-info figure img {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 6px solid var(--color-blue-bright);
}

@media screen and (max-width: 600px) {
  .principal {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about__content, .about__group-photo {
    width: 100%;
  }
  .academics .academics__cards {
    flex-direction: column;
    align-content: center;
    gap: 4rem;
  }
  .academics__card {
    width: 100%;
  }
  .news__cards {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .hero__content {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .header__logo-link {
    top: 2.8rem;
    left: 2.5rem;
  }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(1rem + 4vh) calc(1rem + 6vw);
    transition: all 0.35s ease-in-out;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 9998;
  }
  .hamburger {
    height: 5rem;
    width: 9rem;
    background-color: var(--color-white);
    padding: 2rem;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    z-index: 9999;
  }
  .hamburger__line {
    display: block;
    min-height: 3px;
    background-color: var(--color-blue-dark);
    transition: all 0.3s ease;
    z-index: 11;
  }
  .hamburger__line:nth-child(1) {
    width: 50%;
    transition: all 0.25s ease;
  }
  .hamburger__line:nth-child(2) {
    transition: all 0.1s ease;
  }
  .hamburger__line:nth-child(3) {
    width: 50%;
    transition: all 0.25s ease;
    align-self: flex-end;
  }
  .display__nav {
    transform: translateX(0);
  }
  .hamburger__line-1 {
    transform: rotate(45deg) translateX(1.5rem) translateY(-0.2rem);
  }
  .hamburger__line-2 {
    visibility: hidden;
  }
  .hamburger__line-3 {
    transform: rotate(-45deg) translateX(0.2rem) translateY(-2.1rem);
  }
}/*# sourceMappingURL=main-style.css.map */