@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;
.admin-stats {
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.admin-stats__title {
  padding-top: 2rem;
  font-size: type.font-size-st(m);
}

.stat-card-container {
  display: flex;
  justify-content: space-between;
}