@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.post {
    display: grid;
    grid-column: 3 / 13;
//   grid-template-rows:repeat(4, minmax(min-content, 11.5rem));

    &__info {
        box-shadow: 0.1rem 0rem 0.1rem 0.4rem clrs.color-theme("1");
        padding: pad.padding-st-v("m");
        transition: all 0.25s ease-in-out;


        &:hover {
            transform: scale(0.97);
        }

        span {
            color: clrs.color-type("7");
        }
    }
}