@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.add-blog {
  grid-column: 3 / 13;
  line-height: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      border: 1px solid rgb(184, 184, 184);
      padding: pad.padding-st-v("s");
    }
  }


  .content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    &__author,
    &__moderator,
    &__date{
  
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      flex-basis: 31.4%;

      input {
        border: 1px solid rgb(202, 200, 200);
        padding: pad.padding-st-v("s");
      }
    }
  }

   &__comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
    input [type="checkbox"]{
      text-align: start;
    }

    textarea {
      border: 1px solid rgb(167, 167, 167);
      padding: pad.padding-d-v("m");
    }
   }

   &__create {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    i {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-btn {
      display: flex;
      gap: 1rem;

      .cancel {
        padding: pad.padding-st-v("s") pad.padding-st-h("m");
        background-color: clrs.color-theme("5");

        &:hover {
          background-color: clrs.color-theme("2");
          transition: all 0.55s ease-in-out;
          color: clrs.color-type("1");
        }
      }

      .save {
        padding: pad.padding-st-v("s") pad.padding-st-h("s");
        background-color: clrs.color-type("2");
        color: clrs.color-type("1");
        &:hover{
          background-color: clrs.color-theme("3");
          transition: all 0.25s ease-in-out ;
        }


      }
    }
   }
}