@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.main {
    display: grid;
   grid-column: 3 / 13;
    grid-row: 2 / 12;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   &__title {
    font-size: type.font-size-d("m");

   }

   



 .inbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: pad.padding-st-v("s");
    background-color: #ffffff;
    border-radius: 5px;


.inbox__search{
    display: flex;
    gap: 4rem;

    &-btn {
        display: flex;
        gap: 2rem;  
        align-items: center;

        li {
            

        a {
            padding: pad.padding-st-v("s");
            border: 1px solid clrs.color-type("5");
            color: clrs.color-type("2");
            font-size: type.font-size-st("sc");
            
            
        }
        
        }
    }

    fieldset {
        display: flex;
        gap: 1rem;
        
        border: 1px solid clrs.color-type("3");
        padding: pad.padding-st-v("s") ;

  
        input {
   
        }
    }
  }

 }

 .inbox-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__row {
        
        

        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        text-align: start;
        gap: 2rem;
        border: 1px solid rgb(216, 215, 214);
        padding: pad.padding-st-v("s");


    

    }

    &__name {


        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        text-align: start;
        padding: pad.padding-st-v("s");
        border: 1px solid rgb(216, 215, 214);


    

        .figure {
            display: flex;
            gap: 1rem;
           

            a {
                flex-shrink: 0;
                align-self: start;
            }
       
            
            img {
                     width: 15%;
                    height: 2rem;
                object-fit: cover;
                border-radius: 50%;
            }
            
            
        }
    } 

}
}

