@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.about {
  display: flex;
  gap: 4rem;

  background-color: clrs.color-theme("5");


  &__content {
    // width: 50%;

  }
  &__image {
    // width: 50%;

    img {
      border-radius: 5px;
    }
  }
}