@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.acadamics {

  h2 {
    color: clrs.color-theme("3");
  }

  &__header {
    font-size: type.font-size-d(m);
    color: clrs.color-type("4");
    font-weight: type.font-weight(black-fw);
    padding: pad.padding-d-v(m);
    text-align: center;
  }

  &__title {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
      line-height: 1.9;
      color: clrs.color-theme("3");
    }
    h2 {
      color: clrs.color-type("5");
    }
  }
  &__content{
    display: flex;
    gap: 2rem;
  }

  &__icons {

    li {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, min-content);

      i {
        grid-column: 1 / 2;
        color: clrs.color-theme("2");
      }
    }
  }
}