@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.contact {
  background: var(--gradient-cyan);

  &__title {
    padding-bottom: 2rem;
  }

  &__form {
    max-width: 755px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

  }

  &__row {
    display: flex;
    gap: 2rem;
  
    fieldset {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-basis: 50%;

      label,input {
        font-size: type.font-size-st(s);
        display: block;
      }

      input {
        border: none;
        outline: none;
        border: 1px solid var(--color-light-greyish-blue);
        border-radius: 20px;
        background-color: #fff;
        padding: 1.1rem 1.6rem;
        font-size: type.font-size-st(s);
      }
      input:focus {
        outline: 3px solid var(--color-mint-green); /* your focus color */
        // outline-offset: 2px;        /* optional: adds spacing between border and outline */
      }
    }
  }

  &__full {
    display: flex;
    flex-direction: column;

    label {
      font-size: type.font-size-st(s);
    }

    textarea {
      border: 1px solid gray;
      padding: 1.1rem 1.6rem;
      font-size: type.font-size-st(s);
      background-color: #fff;
      border: 1px solid var(--color-light-greyish-blue);
      border-radius: 20px;

    }

    input[type="submit"] {
      border-radius: 20px;
    }
  }

  &__captcha {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;

    .g-recaptcha {
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content !important;
    }
  }

}