@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.gallery {
  background: var(--gradient-cyan);

    .slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto 55px;
  }

    .slider-wrapper {
    .swiper-pagination-bullet {
      background: var(--color-blue-dark);
      height: 15px;
      width: 15px;
    }

    .swiper-slide-button {
      color: var(--color-green-light);
      margin-top: -50px;
      transition: 0.2s ease;  

      &:hover {
      color: var(--color-green-medium);

      }
    }

  }

  &__card {
    // height: 300px !important;
    height: auto;
    user-select: none;
    background: #fff;
    border-radius: 14px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out;
    border: 2px solid transparent;

    &:hover {
      border-color: var(--color-blue-dark);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    &:hover .gallery__link i {
      background-color: var(--color-blue-dark);
      color: #fff;
      border-radius: 50%;
      border: 2px solid transparent;
    }

  }

  // IMAGE
  &__image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 1.1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  // CONTENT
  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  // UPDATED NAME
  &__badge {
    font-size: type.font-size-st(s);
    background: var(--color-green-light);
    padding: .3rem .7rem;
    border-radius: 6px;
    width: fit-content;
    color: var(--color-navy-dark);
  }

  &__text {
    color: var(--color-navy-dark);
    font-size: type.font-size-st(sc);
    line-height: 1.6;
  }

  // ARROW BUTTON
  &__link {
    align-self: flex-start;
    border: 2px solid var(--color-navy-dark);
    border-radius: 50%;
    transition: all .4s ease;

    i {
      color: var(--color-navy-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      font-size: 1.8rem;
      transform: rotate(45deg);
    }
  }
}
