// ===== header.scss =====
@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.header {
  background-color: clrs.color-theme("1");
  padding: pad.padding-d-v(s) pad.padding-d-h(m);

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;

    &__logo-link {
      width: 20rem;
    }

    &__logo {
      height: 30%;
      width: 30%;
    }

    &__nav {
      display: flex;
      gap: 3rem;
    }

    &__nav-link {
      font-size: type.font-size-st(s);
      font-weight: type.font-weight(bold);
    }
}

.hamburger{
    display: none;
}