@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.header {
  padding: pad.padding-d-v(xs) pad.padding-d-h(s);

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &__nav-logo {
    width: 20rem;
    img {
      height: 40%;
      width: 40%;
      }
    }
  &__nav-links {
    display: flex;
    gap: 2rem;
    font-size: type.font-size-st(sc);
  }


  &__nav-link{
     color: clrs.color-link("4");
     font-size: type.font-size-st(sc);
     font-weight: type.font-weight(bold);
     transition: 0.25s all ease-in-out;

     &:hover {
      color: clrs.color-link("5");
     }
    }
 
&__nav-hamburger {
  display: none;
}

}