@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.adm-fee {
    display: flex;
    flex-direction: column;
    gap: 2rem;
table {
    width: 80rem;
    margin: 0 auto;
    border-collapse: collapse;

    thead {
        background-color: #d9f4ff;
       tr {
        th {
            text-align: start;
            border: 1px solid clrs.color-type("5");
            font-size: type.font-size-st(m);
               padding: pad.padding-st-v(s);
        }
       }
    }

    tbody {
        tr {
            td {
               border: 1px solid clrs.color-type("5");
                padding: pad.padding-st-v(s);
                font-size: type.font-size-st(m);
            }
        }
    }
}

}