@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.member {

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__key {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }



  &__name {
    font-size: type.font-size-st(m);
    text-align: center;
    color: clrs.color-type("5");
  }

  &__post {
    font-size: type.font-size-st(m);
    text-align: center;
    color: clrs.color-type("5");
  }

  &__card {
    width: 28rem;
    border-radius: 5px;
    padding: pad.padding-st-v(l);
    background-color: clrs.color-type("4");

    h2 {
      color: clrs.color-type("1");
    }

    figure {
      justify-self: center;

      img {
        width: 10rem;
        border-radius: 50%;
        border: 4px solid clrs.color-theme("4");
      }
    }
  }

  &__right-chevron,
  &__left-chevron {
    font-size: type.font-size-d(m);
    align-self: center;

    i {
      color: clrs.color-theme("3");
    }
  }


}