@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.notice {
  background-color: clrs.color-theme("3");

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  line-height: 1.1;
  span {
    font-size: type.font-size-st(m);
  }

  marquee {
    a {
      font-size: type.font-size-st(sc);
      color: clrs.color-type("6");
    }
  }
}