@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.news{


  .news__card {
    display: flex;
    gap: 1rem;
    width: 100%;
    gap: 2rem;
    
    figure {
      width: 40%;
      
      img {
        border-radius: 9px;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }   
    }
    
    &--info {
      justify-content: center;
      display: flex;
      flex-direction: column;

      gap: 1rem;

      h3 {
        text-align: start;
        color: var(--color-navy-dark);
      }

      a {
        align-self: start;
      }
    }
  }
  

}