@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.teachers {

    display: flex;
    flex-direction: column;
    gap: 2rem;


    &__head {
      font-size: type.font-size-d(m);
      font-weight: type.font-weight(black-fw);
      color: clrs.color-type("3");
      text-align: center;
    }
    &__cards {
        display: flex;
        gap: 2rem;
    }

    &__card {

        width: 30rem;
        height: 30rem;
        text-align: center;
        border: 1px solid clrs.color-theme("5");
        padding: pad.padding-st-v(m);

        border-radius: 5px;

        display: flex;
        flex-direction: column;
        gap: rem;

        figure {
            img {
                width: 15rem;
                height: 15rem;
                border: 4px solid clrs.color-theme("3");
                border-radius: 50%;
            }
        }
    }

    &__name {
         font-size: type.font-size-d(m);
         font-weight: type.font-weight(black-fw);
         color: clrs.color-type("4");
         text-align: center;
    }
    &__subject {
         font-size: type.font-size-st(sc);
         font-weight: type.font-weight(medium);
         color: clrs.color-type("4");
         transition: all 0.25s ease-in-out;
         text-align: center;
    }
}