@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;


.tuition {

    table {
        width: 40rem;
        margin: 0 auto;
        border-collapse: collapse;

        thead {
            tr {
                th {
                    text-align: start;
                    border: 1px solid clrs.color-type("5");
                    font-size: type.font-size-st(m);
                    padding: pad.padding-st-v(s);
                    background-color: #d9f4ff;;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 1px solid clrs.color-type("5");
                    font-size: type.font-size-st(m);
                    padding: pad.padding-st-v(s);
                }
            }
        }
    }
}