

@media  screen and (max-width: 400px){


          .news {

        &__card {
          width: 100%;

          >div {
            width: 20%;
          }

          figure {
            width: 80%;
          }


      }
    }


    
}