@use "../general-styles/padding" as pad;
@use "../general-styles/gradient" as grad;
@use "../general-styles/colors" as clrs;
@use "../general-styles/typography" as type;

@media  screen and (max-width: 500px){
  .slider-wrapper {
    margin: 0 auto !important;
    padding: 0 10px !important;
    max-width: 100% !important;
     padding-bottom: 45px !important; //to send the pagi bullets below the card
  }
}