@use "../general-styles/padding" as pad;
@use "../general-styles/gradient" as grad;
@use "../general-styles/colors" as clrs;
@use "../general-styles/typography" as type;

@media screen and (max-width: 800px) {
    // ---------HEADER/ MOBILE NAV
    .main-nav-list {
    flex-direction: column;
    justify-content: center;

    padding: pad.padding-d-v(l) pad.padding-d-h(m);
    background-color: clrs.color-theme("3");
    color: clrs.color-type("1");
    transition: all 0.35s ease-in-out;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(40rem);

    z-index: 10;
    li {
      a {
    color: clrs.color-type("1");

      }
    }
    }
    .hamburger {
    height: 5rem;
    width: 8rem;

    /* position: fixed; is already done in global line-180  */
    top: 2rem;
    right: 5rem;

    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    z-index: 10;
    }

  .hamburger__line {
    width: 100%;
    height: 3px;
    background-color: clrs.color-theme("3");
    flex-shrink: 0;
  }

  .hamburger__line:first-child {
    transition: all 0.25s ease-in-out;
    width: 3rem; /* 60% of 3rem */
    background-color: clrs.color-type("2");

  }

  .hamburger__line:nth-child(2) {
    transition: all 0.1s ease-in-out;
    width: 2.4rem; /* 40% of 3rem */
    background-color: clrs.color-type("2");

  }

  .hamburger__line:last-child {
    transition: all 0.25s ease-in-out;
    width: 1.4rem; /* 40% of 3rem */
    background-color: clrs.color-type("2");

  }

  /* dynamic classes */
  .display__nav {
    transform: translateY(0);
  }

  .hamburger__line-1 {
    transform: rotate(45deg) translateX(0.9rem) translateY(1rem);
    width: 3rem;
  }

  .hamburger__line-2 {
    visibility: hidden;
  }

  .hamburger__line.hamburger__line-3 {
    transform: rotate(-45deg) translateX(0.8rem) translateY(-0.9rem);
    width: 3rem;
  }



  //----------- HERO SECTION
    .hero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


      /**************************Acadamics******************************/

      .acadamics {

        &__content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
      }

      /**************************Resents******************************/

      .resents {
        &__box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
      }

       /**************************About******************************/

       .form {


        &__div {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
       }
}
