@use "../general-styles/padding" as pad;
@use "../general-styles/gradient" as grad;
@use "../general-styles/colors" as clrs;
@use "../general-styles/typography" as type;

@media  screen and (max-width: 800px) {
  .about {
  flex-direction: column;


    &__content,
    &__group-photo {
      width: 100%;
    }
  }


.academics__container{
  flex-direction: column;



  &--card {
    width: 100%;
  }
}


}